<h1>Showing details for article.</h1>
  <p>
    Title: 
    <%= @article.title %>
  </p>
  <p>
    Description: <br/>
    <%= @article.description %>
  </p>
  <%= link_to "Edit", edit_article_path(@article), :class => 'actions'  %> |
  <%= link_to "Back to Articles Listing", articles_path, :class => 'back-link' %>
